
.needs-list {
    form {
      display: inline-block;
    }
  }

  .comment {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #d8f0f8;
}

  
  .edit-need-link {
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
    vertical-align: bottom;
  
    .icon {
      width: 16px;
      height: 16px;
      fill: #777;
    }
  }