

<style>
    body { position:absolute; left:0; right:0; top:0; bottom:0; margin:0; padding:0; background: #f8f9fa; }
    .container { width:100vw; height:100vw; margin:0; padding:0; }
    #welcome { margin-left: 1em; text-align: center; }
</style>

<div id='detail-view' style='left:-450px;'>
    <div class='detail-header'>
        <h1 id='detail-title'></h1>
        <a href='javascript:void(0)' class='closebtn' onclick='hideDetail()'>&times;</a>
    </div>
    <div id='detail-content'></div>
</div>
<!-- start slipsum code -->
<div id="welcome">
<h3>Welcome to Direct Effect</h3>
<p>An open source web application for charitable groups who serve Philadelphia's poor to quickly and easily let the community know what items they most urgently need.</p>
<p>Want to donate goods to charities?  Click on the starred organizations on the map below to find out what items they currently need the most!</p>
</div>
<!-- end slipsum code -->
<div id='map'></div>
<script type='text/javascript'>
    var map = init_map('map');
    load_organization_layer(map, '/organizations');
</script>